* {
  margin: 0;
}

body {
  margin-top: 3rem;
  color: rgb(255, 255, 255);
  background-color: rgb(3, 19, 13);
}
h1 {
  text-align: center;
}
.container {
  margin: 0 auto;
  max-width: 900px;
}

.header {
  text-align: center;
}
.selectors {
  display: flex;
  justify-content: space-around;
  gap: 8px;
  padding: 1rem 0;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(71, 71, 71);

  color: white;
}

.monthTitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.calendar {
  padding: 1rem;
}
.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  margin-bottom: 8px;
  font-weight: 600;
}
.weekdays div {
  padding: 6px 8px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 7px;
}

.day {
  min-height: 60px;
  padding: 6px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: rgb(87, 87, 87);
}

.day:hover {
  background-color: rgb(71, 71, 71);
  color: white;
  cursor: pointer;
}

.empty {
  min-height: 60px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 6px;
  opacity: 0.1;
}

.day-number {
  font-weight: 700;
}

.special {
  background-color: rgb(23, 47, 24);
  font-size: small;
}

.special:hover {
  background-color: rgb(168, 222, 155);
  color: black;
  cursor: pointer;
}
